@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@0;1&family=Lugrasimo&family=Montserrat:ital,wght@0,400;1,200;1,300&family=Open+Sans:wght@500&family=Pathway+Extreme:ital,wght@0,500;1,600&family=Poppins:wght@300;400&family=Raleway:wght@500&family=Roboto+Condensed&family=Roboto+Mono:ital,wght@1,200&family=Roboto:wght@300&family=Ubuntu:wght@500&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.mynav ul li a :hover {
  color: cornflowerblue;
}




.product-c {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}


/* form  button */
.form-container {
  width: 320px;
  border-radius: 0.75rem;
  background-color: rgba(17, 24, 39, 1);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
  border-color: rgba(167, 139, 250);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
  margin: 8px 0 14px 0;
}

.forgot a,
.signup a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover,
.signup a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
  display: block;
  width: 100%;
  background-color: rgba(167, 139, 250, 1);
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}


/* lending page */

.landingpage {
  font-family: 'Roboto Condensed', sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

.landingleft {
  width: 50%;
  height: 100%;
  background-image: url("./assets/homeleft.jpg");

}

.landingleft h1 {
  margin-top: 300px;
  margin-left: 80px;
}

.landing-btn-left {
  margin-top: 20px;
  margin-left: 80px;
}

.landingright {
  width: 50%;

  height: 100%;


}

.right-first {
  height: 350px;
  background-image: url(./assets/home2.jpg);

}

.right-btn {
  margin-left: 240px;
  margin-top: 170px;
}


.right-second {
  height: 350px;
  background-image: url(./assets/home3.jpg);
}


/* cart page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: montserrat;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.wrapper h1 {
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

.project {
  display: flex;
}

.shop {
  flex: 75%;
}

.box {
  display: flex;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
  background: #fff;
  transition: all .6s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box:hover {
  border: none;
  transform: scale(1.01);
}

.box img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.content {
  padding: 20px;
  width: 100%;
  position: relative;
}

.content h3 {
  margin-bottom: 30px;
}

.content h4 {
  margin-bottom: 50px;
}

.btn-area {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 25px;
  background-color: #3a71a9;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.btn-area:hover {
  background-color: #76bfb6;
  color: #fff;
  font-weight: 600;
}

.unit input {
  width: 40px;
  padding: 5px;
  text-align: center;
}

.btn-area i {
  margin-right: 5px;
}

.right-bar {
  flex: 25%;
  margin-left: 20px;
  padding: 20px;
  height: 200px;
  border-radius: 5px;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.right-bar hr {
  margin-bottom: 25px;
}

.right-bar p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 20px;
}

.right-bar a {
  background-color: #76bfb6;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-weight: 900;
}

.right-bar i {
  margin-right: 15px;
}

.right-bar a:hover {
  background-color: #3972a7;
}

.minus{
  height: 27px;
  width: 27px;
  background-color: #3a71a9;
}
.plus{
  height: 27px;
  width: 27px;
  background-color: #3972a7;
}

@media screen and (max-width: 700px) {
  .content h3 {
    margin-bottom: 15px;
  }

  .content h4 {
    margin-bottom: 20px;
  }

  .btn2 {
    display: none;
  }

  .box {
    height: 250px;
  }

  .box img {
    height: 120px;
    width: 150px;
  }
}

@media screen and (max-width: 900px) {
  .project {
    flex-direction: column;
  }

  .right-bar {
    margin-left: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1250px) {
  .wrapper {
    max-width: 95%;
  }
}


/* product card image */
.product-page-upper{
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
}
.card-img-top{
  width: 250px;
  margin-left: 40px;
  padding: 5px;
}


.cardImagee{
  width: 130px;
  height: 130px;
  background-color: #fff;
  margin-left: 60px;
}

.title {
font-size: 16px;
margin-left: 20px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.price {
  margin-top: 10px;
  margin-left: 135px;
}
.product-btn{
  margin-top: 10px;
  margin-left: 90px;
}
.product-card {
  border-top: 2px solid orangered;
  border-right: 2px solid orangered;
  width: 400px;
  max-height: 300px;
  box-shadow: -10px -8px 19px -3px rgba(104,101,41,0.75);
-webkit-box-shadow: -10px -8px 19px -3px rgba(104,101,41,0.75);
-moz-box-shadow: -10px -8px 19px -3px rgba(104,101,41,0.75);
}